<% provide(:title, "Contact") %>
<h1>Contact</h1>

  <!--<h3>Contact us at </h3>-->
  <p>Follow us on <a href="https://www.instagram.com/ebita.ro/">Instagram</a></p>
  <p>Our <a href="https://www.instagram.com/ebita.ro/">facebook</a> page</p>
  <p>Call us: <a href="https://www.instagram.com/ebita.ro/">0775283255</a></p>
  <p>Email us at: <a href="https://www.instagram.com/ebita.ro/">tracker_support@gmail.com</a></p>
