<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact us at 
  <a href="https://www.instagram.com/ebita.ro/">Instagram</a>
  <a href="https://www.instagram.com/ebita.ro/">Facebook</a>
  Phone <a href="https://www.instagram.com/ebita.ro/">0775283255</a>
</p>