<% provide(:title, "Contact") %>
<h1>Contact</h1>

  <h3>Contact us at </h3>
  <p><a href="https://www.instagram.com/ebita.ro/">Instagram</a></p>
  <p><a href="https://www.instagram.com/ebita.ro/">Facebook</a></p>
  <p>Phone <a href="https://www.instagram.com/ebita.ro/">0775283255</a></p>
