<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  <p>Got any problems? Colsult our Frequently Asked Questions section here: <a href="https://www.instagram.com/ebita.ro/">FAQ</a></p>
  <p>Didn't solve your proglem?</p>
  <p>Get in touch with us now! </p>
  <%= link_to "Contact page", contact_path %>
</p>
